export DATABASE_URL="postgres://radiance:radianceapp@localhost/radiance"
export SHADOW_DATABASE_URL="postgres://radiance:radianceapp@localhost/radiance_shadow"

export ROOT_DATABASE_URL="postgres://postgres:postgres@localhost/postgres"